<strong>Olá, {{ host }}</strong>
<p>Houve uma nova incrição no meetup {{ titulo }}, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />

</p>